*.aseprite
.import/

Split/**/*.png
Sounds/DbuMusic/*.ogg
Sounds/Ovani/*.wav
Sounds/SoundEffectLab/*.mp3

*.translation
Development/

*.exe
*.zip
*.pck

icon.ico
icon64.png

*.ttf

*.png

*web_export/
